<div class="mhead1 mx-auto">
    <div class="row">
    <div class="col-sm-9">
        <div class="card">
        <div class="card-body">
            
            <h5 class="card-title">Listado de pisos</h5>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>                
                {{#each pisos}}
                <tr>
                    <th>{{Nombre}}</th>
                    <td>{{Descripcion}}</td>
                    <td>
                        <a href="/pisos/edit/{{idPiso}}" class="btn btn-outline-info">Editar</a>
                        <a href="/pisos/delete/{{idPiso}}" class="btn btn-outline-info">Eliminar</a>
                    </td>  

                </tr>
                {{else}}
                    <p>No hay pecados pisos</p>                
                {{/each}}
                </tbody>

            </table>
        </div>
        </div>
    </div>
    <div class="col-sm-3">
            <div class="card">
        <img src="/img/Elmo.gif" class="card-img-top" alt="hola">
        <div class="card-body">
        <h5 class="card-title">Agregar un nuevo piso</h5>
        <a href="/pisos/add" class="btn btn-secondary btn-block">Agregar</a>
    </div>
    </div>
    </div>
</div>